<header>
  Add new Todo List
</header>
<form>
  <p>
    待完成任務：<input type="text" name="todoTitle" [(ngModel)]="newTodo">
  <button (click)="onInsertTitle()"> 新增 </button>
  </p>
</form>

<table>
  <thead>
    <tr>
      <th>todoTitle</th>
      <th>todoComplete</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let todo of todoLists">
    <tr *ngIf="!todo.isComplete && !todo.isDelete">
      <td>{{todo.title}}</td>
      <td>{{todo.isComplete}}
        <button (click)="onUpdateCompl(todo)">完成</button>
      </td>
      <td>{{todo.isDelete}}
        <button (click)="onUpdateDel(todo)">刪除</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="flex align"> 完成清單 </div>
<table>
  <thead>
    <tr>
      <th>todoTitle</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody *ngFor="let todo of todoLists">
    <tr *ngIf="todo.isComplete">
        <td>{{todo.title}}</td>
        <td>已完成</td>
    </tr>
  </tbody>
</table>

<div>
<button *ngIf="!isDeletedState" (click)="onUpdateDisplay()"> 打開垃圾桶</button>
<button *ngIf="isDeletedState" (click)="onUpdateDisplay()"> 關閉垃圾桶</button>
</div>
<table *ngIf="isDeletedState">
  <thead>
    <tr>
      <th>todoTitle</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody *ngFor="let todo of todoLists">
    <tr *ngIf="todo.isDelete">
        <td>{{todo.title}}</td>
        <td>已刪除
        <button (click)="onDeleteTodo(todo.title)">永久刪除</button>
        </td>
    </tr>
  </tbody>

</table>


